server:
  port: 8005
  servlet:
    context-path: /jwt
spring:
  application:
    name: authorization
  datasource:
    url: jdbc:postgresql://localhost:5432/auth
    username:
    password:
    driver-class-name: org.postgresql.Driver
    jpa:
      hibernate:
        ddl-auto: none
    open-in-view: false
    liquibase:
      enabled: true
      change-log: classpath:db/changelog/db.changelog-master.yaml

